body {
background: whitesmoke;
background-size: 40px 40px;
background-image:
linear-gradient(to right, grey 1px, transparent 1px),
linear-gradient(to bottom, grey 1px, transparent 1px);
}

.first-screen {
 width: 800px;
 height: 500px;
 border: solid rgb(0, 0, 0) 2px; 
 margin: auto;
 background: orange;
 margin-bottom: 60px;
position: relative;
}

.first-screen img {
    position: absolute;
    left: 0;
    bottom: -9%;
    height: 150px;
    width: auto;
}
.info {
    height: 50%;
    width: auto;
    background-color: orangered;
    font-size: 3em;
}
.title {
    min-width: 100%;
    min-height: 20%;
    background-color: rgb(232, 187, 102); 
    font-size: 3em;
}
.second-screen {
width: 800px;
height: 500px;
border: solid rgb(0, 0, 0) 2px; 
margin: auto;
background: orange;
margin-bottom: 60px;
}
.title , .info {
    display: grid;
    place-items: center;
}
.title p, .info p  {
    text-align: center;
}

.chowder {
    height: 110px;
    width: 110px;
    Transform: translate(20px, 350%)
}
.kiwi {
    height: 110px;
    width: 110px;
    Transform: translate(20px, 350%)
}

.third-screen {
 width: 800px;
 height: 500px;
 border: solid rgb(0, 0, 0) 2px; 
 margin: auto;
 background: orange;
 margin-bottom: 60px;
}